$light: #e1e1e6;
$darker-white: #c4c4cc;
$dark: #121214;
$soft-dark: #17171a;
$yellow: #ffcd1e;
$pink: #ff008e;
$btn-color: #09090a;

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  color: #e1e1e6;
  background: #121214;
}

@media screen and (max-width: 1280px) {
  body {
    font-size: 12px;
  }
}